* {
	margin: 0;
	padding:0;
}

#wrapper {
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

nav {
	/*	float: right;*/
	margin-left: auto;
	padding: 16px;
	padding-right: 26px;
}

nav ul {
	
}

nav ul li {
	display: inline;
	color: #000;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
	font-family: Arial, sans-serif;
}

.center-container {
	display: flex;
	clear: both;
	justify-content: center;
	padding-top: 130px;
}

.center-container .center  {
}

.center-container .center img {
	height: 92px;
    width: 272px;
}



.form-container {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	padding-top: 30px;
}

.form-container form {

	
}

.form-container form .input-container {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	
	width: 500px;

	border-left: 1px #bbb solid;
	border-right: 1px #bbb solid;
	border-top: 1px #ddd solid;
	border-bottom: 0;

	box-shadow: 0 3px 2px -2px gray;
}

.form-container form .input-container input {
	border: 0;
	height: 36px;
	width: 484px;
	padding-left: 12px;
}

.form-container form .input-container input:focus {
	outline: none;
}

.form-container form .input-container img {
	height: 24px;
	width: 24px;
	padding-right: 6px;
	transform: translate(0, 20%);
}

.form-container form .submit-container {
	display: flex;
	justify-content: center;
	padding-top: 24px;
}

.form-container form .submit-container input {
	padding: 12px 16px;
	font-size: 12px;
	margin: 4px;
	font-weight: bold;
	background-color: #eee;
	color: #777;
	border: 0;
}

.lang-offer {
	display: flex;
	justify-content: center;
	font-size: 12px;
	font-family: Arial, sans-serif;
	padding-top: 20px;
}

.lang-offer a {
	text-decoration: none;
}

.lang-offer a:hover {
	text-decoration: underline;
}

.lang-offer a span {
	color: blue;
	margin: 0 4px;
}

.country {
	margin-top: auto;
	background-color: #EEE;
}

footer {
	display: inline-flex;
}

footer .right {
	margin-left: auto;
}




/*
form {
	display: flex;
	justify-content: center;
	border: 1px solid black;
	width: 500px;
	vertical-align: middle;
	
	border-left: 1px #bbb solid;
	border-right: 1px #bbb solid;
	border-top: 1px #ddd solid;
	border-bottom: 0;

	box-shadow: 0 3px 2px -2px gray;



}

form input {
	height: 36px;
	width: 484px;
	padding-left: 12px;
	
	border-left: 1px #bbb solid;
	border-right: 1px #bbb solid;
	border-top: 1px #ddd solid;
	border-bottom: 0;
}

form input:focus {
	outline: none;
	 no-repeat right center;
}

form img {
	height: 24px;
	width: 24px;
	padding-right: 6px;
	transform: translate(0, 20%);
}


*/